<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>S&P500 FIG1</title>
	<meta name="author" content="Estella Yu, Brad Daniels, Olufunke Olaleye" />
	<meta name="description" content="Interactive data visualization" />
	<meta name="keywords"  content="scroll,D3.js, javascript" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.pagepiling.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <!-- Javascript -->
    <script src="https://d3js.org/d3-ease.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>

</head>
<body>

    <div class="container-fluid" style="background-color:whitesmoke">
                <text id = "fig1_title">Quintile Performance</text>
            <div>
                <div id="fig1" >
                <!-- first chart here. -->
                </div>
            </div>
    </div>
    <script type="text/javascript" src="../static/js/fig1.js"></script>

</body>
</html>
