<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>S&P500 FIG1</title>
	<meta name="author" content="Estella Yu, Brad Daniels, Olufunke Olaleye" />
	<meta name="description" content="Interactive data visualization" />
	<meta name="keywords"  content="scroll,D3.js, javascript" />

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.pagepiling.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <!-- Javascript -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script> -->
    <script src="https://d3js.org/d3-ease.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>

</head>
<body>

    <div class="container-fluid" style="background-color:whitesmoke">
                <text id = "fig1_title">Quintile Performance</text>
            <div>
                <div id="fig1" >
                <!-- first chart here. -->
                </div>
            </div>
    </div>
    <script type="text/javascript" src="../static/js/fig1.js"></script>

</body>
</html>
